
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
heroku3
motor
pillow
psutil
pytz
pyyaml
requests
spotipy
tgcrypto>=1.2.5
uvloop
youtube-search-python==1.6.6
yt-dlp>=2025.10.0
pyrogram>=2.0.106
py-tgcalls==2.2.8
